<div id="endGame">
  <h1 class="uk-heading-line uk-text-center uk-text-2xlarge"><span>End of the Game</span></h1>

  <h3 class="uk-text-center">Here is the ranking</h3>

  <ul class="uk-list uk-list-divider uk-flex-center">
    <li>1. Vincent</li>
    <li>2. Romain</li>
    <li>3. Jonas</li>
  </ul>

  <div class="uk-flex uk-flex-center">
    <p uk-margin>
        <a class="uk-button uk-button-primary uk-button-large" href="/play_again">Play again</a>
        <a class="uk-button uk-button-secondary uk-button-large" href="/quit_game">Quit game</a>
    </p>
  </div>
</div>
