<!--
 * Authors : Romain Capocasale, Vincent Moulin and Jonas Freiburghaus
 * Date : August and September 2019
 * Projet name : Fumseck
 * Class : INF2dlm-A
 * Course : Project P2, Summer HES
-->

<footer>
  <p class="uk-text-small uk-text-muted" id="footer-margin">© 2019 - Fumseck, développé par Romain Capocasale, Vincent Moulin et Jonas Freiburghaus</p>
</footer>
