<meta charset="utf-8">
<title>Fumseck</title>

<meta name="viewport" content="width=device-width, user-scalable=no">

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"></script>

<link rel="stylesheet" href="/css/footer.css">

<script src="/socket.io/socket.io.js"></script>

<script src="/js/quizForm.js"></script>
