<!--
 * Authors : Romain Capocasale, Vincent Moulin and Jonas Freiburghaus
 * Date : August and September 2019
 * Projet name : Fumseck
 * Class : INF2dlm-A
 * Course : Project P2, Summer HES
-->

<br>
<h1 class="uk-text-center">Tenez-vous prêt</h1>
<br>
<br>
<div class="dots uk-flex uk-flex-middle uk-flex-center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
