<!--
 * Authors : Romain Capocasale, Vincent Moulin and Jonas Freiburghaus
 * Date : August and September 2019
 * Projet name : Fumseck
 * Class : INF2dlm-A
 * Course : Project P2, Summer HES
-->

<div id="transition">
  <% if(host) { %>
  <h1 id="m16" class="ml6"></h1>
  <% } else { %>
  <% include loading %>
  <% } %>
</div>
