<br>
<div id="inGame">
  <div id="host">
    <h1 id="question" class="uk-title"></h1>
    <div id="countdown">
      <div id="countdown-number"></div>
      <svg id="timer-svg">
        <circle id="timer-svg--circle" r="180" cx="200" cy="200"></circle>
      </svg>
    </div>
  </div>
  <div id="client">
    <h1>Please answer to the question !</h1>
    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
      <div>
        <a class="uk-link-reset" href="#"><div class="uk-card uk-card-default uk-card-hover uk-card-body">
          <p>Choix A</p>
          <h3 id="responseA" class="uk-card-title"></h3>
        </div></a>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
          <p>Choix B</p>
          <h3 id="responseB" class="uk-card-title"></h3>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
          <p>Choix C</p>
          <h3 id="responseC" class="uk-card-title"></h3>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
          <p>Choix D</p>
          <h3 id="responseD" class="uk-card-title"></h3>
        </div>
      </div>
    </div>
  </div>
</div>
