<div id="startQuiz">
  <% if(host) { %>
  <h1 class="ml4">
    <span class="letters letters-1">A vos marques</span>
    <span class="letters letters-2">Prêts</span>
    <span class="letters letters-3">Partez !</span>
  </h1>
  <% } else { %>
  <% include loading %>
  <% } %>
</div>
