<div id="waitingQueue">
  <div class="uk-flex uk-flex-center uk-margin-top uk-heading-line">
    <h1 class="uk-heading-medium">Waiting Queue</h1>
  </div>
  <% if(host) { %>
    <p class="uk-text-center uk-text-large">La partie débute dans <strong id="tickTimerWaitingQueue">2 minutes et 30 secondes</strong></p>
    <p class="uk-text-center uk-text-large">Partagez le lien à vos amis : <a href="http://127.0.0.1:34335/join_game/<%= gameId %>" target="_blank">localhost:34335/join_game/<%= gameId %></a> !</p>
  <% } else { %>
    <input type="hidden" id="pseudo" value="<%= pseudo %>">
  <% } %>
    <input type="hidden" id="gameId" value="<%= gameId %>">

    <!--<div class="example1"><h3>This is the scrolling text </h3></div>-->
    <p class="uk-text-center">Joueur(s) dans la salle d'attente : </p>
    <div id="newPlayer" class="uk-text-center">
    </div>
    <% if(host) { %>
      <br>
      <button id="startGame" class="uk-button uk-button-secondary uk-button-large">Lancer la partie</button>
    <% } %>

</div>
