<!--
 * Authors : Romain Capocasale, Vincent Moulin and Jonas Freiburghaus
 * Date : August and September 2019
 * Projet name : Fumseck
 * Class : INF2dlm-A
 * Course : Project P2, Summer HES
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>
    <style media="screen">
      #inGame{
        display: none;
      }
      #endGame{
        display: none;
      }
      #ranking{
        display: none;
      }

      <% if(host) { %>
        #client{
          display: none;
        }
      <% } else { %>
        #host{
          display: none;
        }
      <% } %>
    </style>
    <link rel="stylesheet" href="/css/textSlider.css">
    <link rel="stylesheet" href="/css/analogClock.css">
    <link rel="stylesheet" href="/css/waitingQueue.css">
    <link rel="stylesheet" href="/css/endQuiz.css">
    <link rel="stylesheet" href="/css/quiz.css">
    <link rel="stylesheet" href="/css/ranking.css">
    <link rel="stylesheet" href="/css/textAnimation.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <script src="/js/GameAnimation.js" charset="utf-8"></script>
    <script src="/js/QuestionDisplayer.js" charset="utf-8"></script>
    <script src="/js/QuizResponse.js" charset="utf-8"></script>
    <script src="/js/ScoreDisplayer.js" charset="utf-8"></script>
    <script src="/js/WaitingQueueManager.js" charset="utf-8"></script>
    <script src="/js/QuizLivePlayerAnswered.js" charset="utf-8"></script>
    <script src="/js/PageToggler.js" charset="utf-8"></script>
    <script src="/js/GameSoundPlayer.js" charset="utf-8"></script>
    <script src="/js/RankingManager.js" charset="utf-8"></script>
    <script src="/js/JokerManager.js" charset="utf-8"></script>

    <script src="/js/game.js" charset="utf-8"></script>
    <script src="/js/disablef5.js" charset="utf-8"></script>
  </head>
  <body scroll="no" style="overflow: hidden">
    <div class="uk-container">
    <% include partials/waitingQueue %>
    <% include partials/startQuiz %>
    <% include partials/quiz %>
    <% include partials/ranking %>
    <% include partials/endQuiz %>
    <% include partials/quizTransition %>
    </div>
  </body>
</html>
