<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>
    <style media="screen">
      #in_game{
        display: none;
      }

      <% if(!host) { %>
        #client{
          display: none;
        }
      <% } else { %>
        #host{
          display: none;
        }
      <% } %>
    </style>
    <link rel="stylesheet" href="/css/analogClock.css">
    <script src="/js/game.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="uk-container">
    <% include partials/waitingQueue %>
    <% include partials/quiz %>
    </div>
  </body>
</html>
