<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>
    <style media="screen">
      #inGame{
        display: none;
      }
      #endGame{
        display: none;
      }

      <% if(host) { %>
        #client{
          display: none;
        }
      <% } else { %>
        #host{
          display: none;
        }
      <% } %>
    </style>
    <link rel="stylesheet" href="/css/textSlider.css">
    <link rel="stylesheet" href="/css/analogClock.css">
    <link rel="stylesheet" href="/css/waitingQueue.css">
    <link rel="stylesheet" href="/css/endQuiz.css">
    <link rel="stylesheet" href="/css/quiz.css">

    <script src="/js/GameAnimation.js" charset="utf-8"></script>
    <script src="/js/QuestionDisplayer.js" charset="utf-8"></script>
    <script src="/js/QuizResponse.js" charset="utf-8"></script>
    <script src="/js/ScoreDisplayer.js" charset="utf-8"></script>
    <script src="/js/WaitingQueueManager.js" charset="utf-8"></script>
    <script src="/js/QuizLivePlayerAnswered.js" charset="utf-8"></script>

    <script src="/js/game.js" charset="utf-8"></script>
    <script src="/js/disablef5.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="uk-container">
    <% include partials/waitingQueue %>
    <% include partials/quiz %>
    <% include partials/endQuiz %>
    <% include partials/quizTransition %>
    </div>
  </body>
</html>
