<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>
    <link rel="stylesheet" href="/css/analogClock.css">
    <script src="/js/animation.js" charset="utf-8"></script>
    <script src="/js/game.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="uk-container">

    </div>
  </body>
</html>
