<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>
  </head>
  <body>

    <div class="uk-height-small uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
     data-src="https://source.unsplash.com/wB8LMyEXegE/1600x900"
     data-srcset="https://source.unsplash.com/wB8LMyEXegE/1600x900"
     data-sizes="(min-width: 650px) 650px, 100vw" uk-img>

      <div class="uk-flex uk-flex-center uk-margin-top">
        <h1 class="uk-heading-medium">Fumseck 🐦</h1>
      </div>

    </div>

    <div class="uk-container">

      <br>
      <ul class="uk-subnav uk-tab" uk-switcher="animation: uk-animation-slide-left">
          <li><a href="#">Home</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
      </ul>

      <ul class="uk-switcher uk-margin">

          <!-- Tab Home -->
          <li>
            <div class="uk-text-center">
                <p class="uk-text-lead">Welcome to Fumseck, a game to learn while having fun !</p>
                <p class="uk-text-meta">You have the choice !</p>
                <p class="uk-text-meta">You can create and host your game, or join a game with your friends.</p>
            </div>

            <div class="uk-flex uk-flex-center">
              <p uk-margin>
                  <a class="uk-button uk-button-primary" href="create_game">Create a game</a>
                  <a class="uk-button uk-button-secondary" href="join_game">Join a game</a>
              </p>
            </div>


          </li>

          <!-- Tab Help -->
          <li>
            <p class="uk-text-lead">Do you need help ? No problem, your are in the right place.</p>
            <hr class="uk-divider-small">
            <p class="uk-text-meta">You have two solutions. First, you can create your own game and invite your friends to play using a unique link. Or your second option is to join an existing game, by clicking on a link or filling the ID field.</p>
          </li>

          <!-- Tab About -->
          <li>
            <p class="uk-text-lead">About us...</p>
            <hr class="uk-divider-small">
            <p class="uk-text-meta">We are three beautiful students</p>
          </li>
      </ul>

      <!--<div class="uk-animation-toggle" tabindex="0">
          <div class="uk-animation-shake">
              <a class="uk-button uk-button-primary" href="create_game">Create a game</a>
          </div>
      </div>-->

      <% include partials/footer %>

    </div>
  </body>
</html>
