/**
 * Authors : Romain Capocasale, Vincent Moulin and Jonas Freiburghaus
 * Date : August and September 2019
 * Projet name : Fumseck
 * Class : INF2dlm-A
 * Course : Project P2, Summer HES
 */

#playerAnsweredContainer {
  display: flex;
  flex-wrap: wrap;
}

#transition {
  display: none;
}

#startQuiz {
  display: none;
}

#joker {
  display: table;
  margin: 0 auto;
  width: 50%;
}

@media screen and (max-width: 700px) {
  #joker{
    width: 80%;
    }
}

.jokerAnimationElem {
  animation-name: jokerAnimation;
  animation-duration: 2s
}

@keyframes jokerAnimation {
  from {left:0px; }
  to {left: 4000px;}
}

.imgPlayerAnswered {
  height: 95px;
  position: relative;
  top: 15px;
  left: 3px;
}

.imgUserPseudo {
  text-align: center;
  margin-top: 20px;
}

.playerAnswered {
  margin-right: 70px;
  text-align: center;
  animation-name: playerAnsweredAnimation;
  animation-duration: 2s;
}

.imgPlayerAnsweredSmall {
  height: 60px;
  position: relative;
  top: 35px;
  left: 0px;
}

.imgUserPseudoSmall {
  text-align: center;
  font-size: 0.7em;
  margin-top: 40px;
}

.playerAnsweredSmall {
  margin-right: 20px;
  text-align: center;
  animation-name: playerAnsweredAnimation;
  animation-duration: 2s;
}

@keyframes playerAnsweredAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}
