#playerAnsweredContainer {
  display: flex;
  flex-wrap: wrap;
}

.playerAnswered {
  animation-name: playerAnsweredAnimation;
  animation-duration: 2s;
  width: 150px;
  text-align: center;
  margin-right: 70px;
}

@keyframes playerAnsweredAnimation {
  0%   {top: 100px; opacity: 0;}
  50%  {top: -4px; opacity: 0.5;}
  65%  {top: 2px; opacity: 0.65;}
  80%  {top: -1px; opacity: 0.8;}
  100% {top: 0px; opacity: 1;}
}
