/**
 * Authors : Romain Capocasale, Vincent Moulin and Jonas Freiburghaus
 * Date : August and September 2019
 * Projet name : Fumseck
 * Class : INF2dlm-A
 * Course : Project P2, Summer HES
 */

.example1 {
   height: 50px;
   position: relative;
}
.example1 h3 {
   font-size: 3em;
   color: blue;
   position: absolute;
   width: 80%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;

   /* Starting position */
   transform:translateX(100%);

   /* Apply animation to this element */
   animation: example1 5s linear infinite;
}
/* Move it (define the animation) */
@keyframes example1 {
   0%   {
     transform: translateX(100%);
   }
   100% {
     transform: translateX(-80%);
   }
}
